In [2]:
import os
import pandas as pd
import sys
from platform import python_version
python_version()

'3.10.2'

In [3]:
sys.path.append("/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages")
import snscrape.modules.twitter as sntwitter

In [6]:
# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('(#Bitcoin)').get_items()):
    if i>1000:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [7]:
tweets_df1

,Datetime,Tweet Id,Text,Username
0,2022-03-13 19:53:49+00:00,1503097017471447041,I own more than one and know a lot of peeps th...,Darrellclark2_
1,2022-03-13 19:53:45+00:00,1503096998748168193,@BitcoinMagNL In 2024 na de volgende halving b...,WietsedeVries62
2,2022-03-13 19:53:45+00:00,1503096998320545793,The unlimited potential of this project is ver...,colinmurano
3,2022-03-13 19:53:42+00:00,1503096985523568643,Bitcoin Average RSI is 46 ~ Neutral\nCurrent P...,RsiBitcoin
4,2022-03-13 19:53:33+00:00,1503096948437368833,„ÅäÈáë„ÅØÂæ™Áí∞„Åô„Çã„É¢„Ééüí¥\n\n‰∫∫„ÅÆÂøÉ„ÅØÊè∫„ÇåÂãï„Åè„É¢„Ééüíì\n\nÁúü„ÅÆ‰æ°ÂÄ§„ÅØ‰∏çÂãï„ÅÆ„É¢„Ééü•á\n\nÂπ≥Âíå...,W9lSbPAVQEI72A7
...,...,...,...,...
996,2022-03-13 19:09:13+00:00,1503085791794597888,@Dennis_Porter_ The EU should develop a policy...,csd7942
997,2022-03-13 19:09:09+00:00,1503085776456024069,News | Bitcoin‚Äôs sub-$40K range trading and mi...,xilinjie2017
998,2022-03-13 19:09:05+00:00,1503085760639025153,#digitalmarketing #affiliate #marketing #netwo...,bmurphypointman
999,2022-03-13 19:09:04+00:00,1503085755811336193,#MonopolyMillionaireGame tokens are used as a ...,FeelIingsLonely
1000,2022-03-13 19:09:03+00:00,1503085749792616449,#GMTUSDT ƒ∞LE ƒ∞LGƒ∞Lƒ∞ listelenme hakkƒ±nda bilgi ...,Blna_Snyl

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1503056824450355207,1503023759078404096,1.647192e+12,2022-03-13 13:14:07,-0400,,"@jaysbookman Jay, why are you so uninformed? G...",en,"[azovbattalion, ukraine, okboomer]",[],...,,,,,,"[{'screen_name': 'jaysbookman', 'name': 'Jay B...",,,,
1,1503054238041231369,1502812779123728384,1.647191e+12,2022-03-13 13:03:50,-0400,,@jaysbookman #OkBoomer,und,[okboomer],[],...,,,,,,"[{'screen_name': 'jaysbookman', 'name': 'Jay B...",,,,
2,1503046378032754690,1503046378032754690,1.647189e+12,2022-03-13 12:32:36,-0400,,"S√≠, los millennials no entendemos a los centen...",es,[okboomer],[],...,,,,,,[],,,,
3,1503027450380681216,1503027450380681216,1.647185e+12,2022-03-13 11:17:23,-0400,,Going Live at 1030am CST w/ #ApexLegends cheek...,en,"[apexlegends, eldenring, twitch, streamernetwo...",[],...,,,,,,[],,,,
4,1502980399156322306,1502980399156322306,1.647173e+12,2022-03-13 08:10:25,-0400,,Mes grands-parents (n√©s dans les ann√©es 90) so...,fr,[okboomer],[],...,,,,,,[],,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,1499469203379732484,1499469203379732484,1.646336e+12,2022-03-03 14:38:11,-0400,,like throwing gas onto a fire‚Ä¶ #okboomer,en,[okboomer],[],...,,,,,,[],,,,
175,1499468802211434503,1499468802211434503,1.646336e+12,2022-03-03 14:36:35,-0400,,#hdpros2 #jeveuxJeanLouisBurgatdansunEHPAD #O...,und,"[hdpros2, jeveuxjeanlouisburgatdansunehpad, ok...",[],...,,,,,,[],,,,
176,1499438763243712512,1499410274708721667,1.646329e+12,2022-03-03 12:37:14,-0400,,@DinoPupper Another one for the #okboomer file.,en,[okboomer],[],...,,,,,,"[{'screen_name': 'DinoPupper', 'name': 'Retro ...",,,,
177,1499417825869508609,1499417825869508609,1.646324e+12,2022-03-03 11:14:02,-0400,,"1/3 Today, the Villages isn‚Äôt so much a retire...",en,"[okboomer, ageing]",[],...,,,,,,[],,,,
178,1499404400174981122,1499227652099555331,1.646321e+12,2022-03-03 10:20:41,-0400,,@kennedytcooper Good to know older generations...,en,[okboomer],[],...,,,,,,"[{'screen_name': 'kennedytcooper', 'name': 'Th...",,,,